/* .background {
background: rgb(0,0,0);
background: linear-gradient(142deg, rgba(0,0,0,1) 28%, rgba(47,55,52,0.9948354341736695) 92%, rgba(45,45,47,1) 100%);
} */

.boxshadow{

    box-shadow: 0px 21px 13px rgba(0, 0, 0, 0.04);
}
.bc{ 
  
    border:         none;
    border-left:    1px solid #E7E7E7;
    height:         12vh;
    width:          3px;       
}