.footer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 4vh; */
    background-color: black;
}

.footer-title{
    color: #fefcff;
    font-size: 3.5vh;
    font-weight: 700;
    margin-left: 5vw;
}

.copyright{
    color: #fefcff;
    font-size: 2.5vh;
    margin-right: 5vw;
    font-weight: 500;
}

.feedback{
    display: flex;
    flex-direction: column;
    /* height: 10vh; */
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    margin: auto;
    margin-bottom: 3vh;
}

.feedback h3{
    color: #ae8cfa;
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: 1vh;

}

.feedback-form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* height: 6vh; */
    width: 30%;
    /* background-color: aqua; */
    /* justify-content: space-between; */
}

#feedback{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #fefcff;
    padding: 1vh;
    width: 100%;
    min-height: 10vh;
    color: #FEFCFF;
}

#feedback::-webkit-scrollbar{
    display: none;
}

.feedback-form button{
    background-color: #FEFCFF;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
    font-size: 2.5vh;
    font-weight: 600;
    padding: 0.5vh;
    margin-top: 2vh;
    width: 100%;
    /* margin-left: 5vh; */
}

.feedback-form h2{
    color: #FEFCFF;
    font-size: 3vh;
    font-weight: 400;
    margin-top: 1vh;
    margin-bottom: 2vh;
}