.footer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 4vh; */
    background-color: #313131;
 
}
.footer-main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* height: 12vh; */
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 1vh; */
    color: #fefcff;
 
}


.footer-title{
    color: #fefcff;
    font-size: 4vh;
    font-weight: 600;
    /* margin-left: 5vw; */
    margin-top: 2vh;
}

.footer-para{
    color: #fefcff;
    width: 50%;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    /* text-justify: inter-word; */
}

.copyright{
    /* color: #fefcff; */
    font-size: 2.5vh;
    /* margin-right: 5vw; */
    /* margin-right: 2vw; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background-color: #313131;

   @media (max-width:566px)
   {
       font-size: 2.3vh;
  }
  @media (max-width:590px)
   {
       font-size: 2.3vh;
  }
  @media (max-width:360px)
  {
      font-size: 1.9vh;
 }
}

#footer-logo{
    height: 13vh;
}

.feedback-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;
    margin-bottom: 3vh;
    /* background-color: antiquewhite; */
}

.feedback-doodle img{
    width: 34vw;
    height: 38vh;
    margin-right: 5vw;
    @media (max-width:1317px)
    {
        width: 32vw;
    height: 36vh;
        
   }
   @media (max-width:1020px)
   {
       width: 36vw;
   height: 33vh;
       
  }
  @media (max-width:880px)
  {
      width: 38vw;
  height: 29vh;
      
 }
  
}

.feedback{
    display: flex;
    flex-direction: column;
    /* height: 10vh; */
    width: 30vw;
    align-items: flex-start;
    justify-content: space-around;
    /* align-self: flex-start; */
    /* margin: auto; */
    align-items: center;
    /* background-color: antiquewhite; */
    margin-bottom: 3vh;
    @media (max-width:815px)
    {
        width: 40vw;
        
   }
    @media (max-width:680px)
    {
        width: 70vw;
        
   }
  
  
}

.comme{
    font-family: Comme;
}

.feedback h3{
    
    color: #dbc6c6;
    align-items: center;
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: 1vh;
    @media (max-width:882px)
    {
        font-size: 2.5vh;
   }
   @media (max-width:680px)
    {
        font-size: 3vh;
   }
   @media (max-width:490px)
    {
        font-size: 2.5vh;
   }
   @media (max-width:380px)
   {
       font-size: 2.1vh;
  }
  @media (max-width:305px)
  {
      font-size: 1.9vh;
 }
 @media (max-width:260px)
 {
     font-size: 1.6vh;
}

}



.feedback-form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* height: 6vh; */
    width: 100%;
    /* background-color: aqua; */
    /* justify-content: space-between; */
}

#feedback{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #fefcff;
    padding: 1vh;
    width: 100%;
    min-height: 20vh;
    color: #FEFCFF;
}

#feedback::-webkit-scrollbar{
    display: none;
}

.button{
    background-color: transparent;
    border:1px solid;
    border-color:  #0D2F3F;;
    border-width: 1px;
    border-radius: 40px;
    width:100%;
    
    align-self: center;
    font-size: 2.5vh;
    font-weight: 500;
    padding: 3vh;
    margin-top: 2vh;
    @media (max-width:400px)
    {
        width:80%;

    }
    
    
    /* margin-left: 5vh; */
}
.copybutton{
    cursor: pointer;
    border: 1px solid #a59898;
    
    background-color: #413b3b;
    border-radius: 150px;
    width:30%;
    margin-left: 1vw;
    position: relative;
    align-self: center;
    font-size: 2.5vh;
    font-weight: 600;
    padding: 2.5vh;
    margin-top: 2vh;
    
    
    /* margin-left: 5vh; */
}
.copybutton:hover{
    background-color: #706abb;

}


  


.feedback-form h2{
    color: #FEFCFF;
    font-size: 3vh;
    font-weight: 400;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.buttontext{
    font-family: "Eudoxus Sans", sans-serif;
   color: #0D2F3F;
   font-weight: 600;
}
#custom-tooltip {
    display: none;
    margin-left: 257px;
    z-index: 100;
    padding: 2px 2px;
    background-color: #695858df;
    border-radius: 4px;
    position: absolute;
    color: #f8f5f5;
}
.sans-serif{
    font-family: "Eudoxus Sans", sans-serif;
}
.title{
    font-family: "Eudoxus Sans", sans-serif;
    color: #0D2F3F;
    font-size: 2.5rem;
    @media (max-width:560px)
    {
        font-size: 2.5rem;
   };
   @media (max-width:448px)
   {
       font-size: 2rem;
  };


    
}

.mail-btn{
    padding: 1vh !important;
}