.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
    align-self: center;
    padding: 0px;
    @media (max-width:770px)
    {
        flex-direction: column-reverse;
        justify-content: center;
   }
}

.hero-data{
    display: flex;
    flex-direction: column;
    width: 55%;
    @media (max-width:770px)
    {
        width: 75%;
   }
}

.hero-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: #FEFCFF;
    font-size: 12vh;
    margin-left: 5vw;
    @media (max-width: 1154px)
    {
        font-size: 10vh;
   }
   @media (max-width: 962px)
    {
        font-size: 8vh;
   }
   @media (max-width:770px)
   {
       font-size: 7vh;
  }
  @media (max-width:680px)
  {
      font-size: 10vh;
 }

}

.hero-text{
    width: 100%;
    color: #FEFCFF;
    margin-left: 5vw;
    margin-top: 2vh;
    font-size: 3vh;
}

.hero-img{
    width: 38vw;
    background-color: transparent;
    filter:invert(1);
    margin-right: 5vw;
    margin-left: 3vw;
    @media (max-width:668px)
    {
        width: 50vw;
   }
  
}