.width{
    padding-right:8px ;
    border-radius: 8%;
    @media (max-width:710px)
    {
        /* width: 22vw; */
        height:24vh;
   }
}

.image-con{
    width: 100vw;
    overflow-x: scroll;
}

.image-con::-webkit-scrollbar{
    display: none;
}