.width{
    @media (max-width:710px)
    {
        /* width: 22vw; */
        height:21vh;
   }
}

.image-con{
    width: 100vw;
    overflow-x: scroll;
}

.image-con::-webkit-scrollbar{
    display: none;
}