*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #242132;
    width: 100vw !important;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color:#242132;
}
::-webkit-scrollbar-thumb{
    background-color: #746CFE;
    border-radius: 10px;
}

.count-container{
    background-color: rgba(0,0,0,0.3);
}

.nav-body{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 12vh;
    background: linear-gradient(90deg, #736cfe61,#AE8CFA61);
    /* background-color: #242132; */
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
    color: #FEFCFF;
    align-items: center;
    justify-content:space-between;
    z-index: 10;
    position: fixed;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -6vw;
    /* font-size: 4vh; */
}

.subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5vw;
    border-radius: 50px;
    padding: 1vw;
    background-color: #746CFE;
    background-color: #AE8CFA;
    /* background: linear-gradient(90deg, #746CFE, #AE8CFA); */
    background-color: #FEFCFF;
    font-size: 2.3vh;
    color: #242132;
}

.subscribe img{
    height: 2.5vh;
}

#nav-logo{
    width: 60%;
    height: 40%;
    /* background-color: black; */
}