.testimonials-title{
    color: #0D2F3F;
    font-size: 3rem;
    margin-top: 6vh;
    font-weight: 700;
@media (max-width:560px)
    {
        font-size: 2.5rem;
   };
   @media (max-width:448px)
   {
       font-size: 2rem;
  };
  @media (max-width:344px)
  {
      font-size: 1.7rem;
 };
}

.Testimonial{
    background: rgb(255, 255, 255);

    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) -3px 11px 13px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23vw;
    min-width: 29vw;
    height: 50vh;
    border-radius: 30px;

    margin-right: 3.6vh;
    @media (max-width:1151px)
    {
        width: 45vw;
        min-width: 45vw;
   };
    @media (max-width:1048px)
    {
        width: 46vw;
        min-width: 45vw;
   };
   @media (max-width:690px)
    {
        width: 56vw;
        min-width: 55vw;
   };
   @media (max-width:517px)
   {
       width: 55vw;
       min-width: 55vw;
  }
  @media (max-width:400px)
  {
      width: 60vw;
      height: 60vh;
      min-width: 60vw;

      .right {
        right : 0%;
      }
 }
}

.testimonial-img{
    width: 5vw;
    border-radius: 50%;
    /* margin-top: 10vh; */

}

.testimonial-text{
    color: #0D2F3F;
    font-size: 2.5vh;
    width: 80%;
    font-weight: 100;
    text-align:center;
    margin-top: 2vh;
    /* text-justify: inter-word; */
}

.testimonial_name{
    color: #000000;
    font-weight: 550;
}

.testimonial_email{
    color: #070707;
}