DATABASE_HOST="YOUR MYSQL DATABASE HOST"
DATABASE_PORT="YOUR MYSQL DATABASE PORT"
DATABASE_USER="YOUR MYSQL DATABASE USER"
DATABASE_PASSWORD="YOUR MYSQL DATABASE PASSWORD"
DATABASE_NAME="YOUR MYSQL DATABASE NAME"
EMAIL_SENDER="SENDER'S EMAIL"
EMAIL_PASSWORD="SENDER'S EMAIL PASSWORD"
EMAIL_ME2="RECIEVER EMAIL"
EMAIL_ME="RECIEVER EMAIL"